@import url("tokens.css");

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 calc(var(--unit) / 4) var(--background),
    0 0 0 calc(var(--unit) / 2) var(--theme);
}