@import url("tokens.css");

/* TEXT STYLES*/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  line-height: 1.2;
  letter-spacing: -0.025em;
}

h1,
.h1 {
  font-size: calc(var(--font-size) * 2);
  font-weight: 900;
}
h2,
.h2 {
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 800;
}
h3,
.h3 {
  font-size: calc(var(--font-size) * 1.2);
  font-weight: bold;
}
h4,
.h4 {
  font-size: calc(var(--font-size) * 1);
  font-weight: bold;
}
h5,
.h5 {
  font-size: calc(var(--font-size) * 0.85);
  font-weight: bold;
}
h6,
.h6 {
  font-size: calc(var(--font-size) * 0.65);
  font-weight: bold;
}

.text.primary {
  color: var(--text-color);
}
.text.secondary {
  color: var(--text-secondary);
}
.text.white {
  color: var(--white);
}